In [1]:
import numpy as np
import pandas as pd

## ***Series Part-1***

In [2]:
# help(pd.Series)

In [3]:
myindex = ['USA', 'Canada', 'Mexico']

In [4]:
myindex

['USA', 'Canada', 'Mexico']

In [5]:
mydata = [1776, 1867,1821]

In [16]:
myser = pd.Series(data=mydata)

In [18]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [22]:
type(myser)

pandas.core.series.Series

In [24]:
myser = pd.Series(data=mydata, index=myindex)

In [26]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [30]:
myser['USA']

1776

In [32]:
myser[0]

C:\Users\pavan\AppData\Local\Temp\ipykernel_20644\3030946548.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0]

1776

***Create a Series from a Dictionary***

In [35]:
ages = {"Sam":5, "Frank":10, "Spike":7}

In [37]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

## ***Series Part-2***

In [44]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [46]:
sales_q1 = pd.Series(q1)

In [48]:
sales_q2 = pd.Series(q2)

In [50]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [52]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [54]:
sales_q1['Japan']

80

In [56]:
sales_q1[0]

C:\Users\pavan\AppData\Local\Temp\ipykernel_20644\92651501.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_q1[0]

80

In [58]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [62]:
sales_q1.index

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [64]:
[1,2] * 2

[1, 2, 1, 2]

In [66]:
np.array([1,2]) * 2

array([2, 4])

In [68]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [70]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [72]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [74]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [78]:
sales_q1.add(sales_q2, fill_value= 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [80]:
first_half = sales_q1.add(sales_q2, fill_value= 0)

In [84]:
first_half.dtype

dtype('float64')

In [94]:
first_half = pd.Series(first_half, dtype=int)

In [96]:
first_half.dtype

dtype('int32')